4.8 Grouping Data & Aggregating Variables

1. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

2. Import Dataframe

In [2]:
# Create String of Path to Main Project Folder
path = r'/Users/seema/Documents/CareerFoundry/A4/Instacart Basket Analysis'

In [3]:
# Import Dataframes
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_derived_cols.pkl'))

In [5]:
# Create Subset
df = df_ords_prods[:1000000]

In [6]:
df.shape

(1000000, 19)

In [7]:
df.head(10)

,order_id,user_id,orders_#,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Most orders
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Average orders
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Average orders

In [8]:
df.groupby('product_name')

In [11]:
# Aggregate Mean of order_number by department_id
df.groupby('department_id').agg({'orders_#': ['mean']})

                orders_#
                    mean
department_id
4              18.825780
7              17.472355
13             17.993423
14             19.246334
16             19.463012
17             11.294069
19             19.305237
20             17.599636

In [12]:
# Aggregate Mean of order_number by department_id Full Dataframe Q2
df_ords_prods.groupby('department_id').agg({'orders_#': ['mean']})

                orders_#
                    mean
department_id
1              15.457838
2              17.277920
3              17.170395
4              17.811403
5              15.215751
6              16.439806
7              17.225802
8              15.340650
9              15.895474
10             20.197148
11             16.170638
12             15.887671
13             16.583536
14             16.773669
15             16.165037
16             17.665606
17             15.694469
18             19.310397
19             17.177343
20             16.473447
21             22.902379

Q3 - In the subset, only a small number of departments is represented. Also, the mean values for the departments included in the subset changed slightly with the full dataframe.

In [13]:
df_ords_prods['max_order'] = df_ords_prods.groupby(['user_id'])['orders_#'].transform(np.max)

/var/folders/n3/lnt6wvj12kzbvn40w88d_tf40000gn/T/ipykernel_906/2972957106.py:1: FutureWarning: The provided callable <function amax at 0x112059080> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods['max_order'] = df_ords_prods.groupby(['user_id'])['orders_#'].transform(np.max)

In [14]:
df_ords_prods.head(15)

,order_id,user_id,orders_#,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22

In [15]:
df_ords_prods.loc[df_ords_prods['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

/var/folders/n3/lnt6wvj12kzbvn40w88d_tf40000gn/T/ipykernel_906/3179099200.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Loyal customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prods.loc[df_ords_prods['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
df_ords_prods.loc[(df_ords_prods['max_order'] <= 40) & (df_ords_prods['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
df_ords_prods.loc[df_ords_prods['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
df_ords_prods['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [19]:
# Aggregate Stats of prices by loyalty_flag Q5
df_ords_prods.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Q5 - It appears that it is the new customers that have the highest average price product.

In [20]:
# Create Column with Price Mean by User Q6
df_ords_prods['mean_price'] = df_ords_prods.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/n3/lnt6wvj12kzbvn40w88d_tf40000gn/T/ipykernel_906/3922729516.py:2: FutureWarning: The provided callable <function mean at 0x112059da0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods['mean_price'] = df_ords_prods.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
df_ords_prods.head(15)

,order_id,user_id,orders_#,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest day,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Least busy,Slowest days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regular days,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556

In [22]:
df_ords_prods.loc[df_ords_prods['mean_price'] < 10, 'spending_flag'] = 'Low spender'

/var/folders/n3/lnt6wvj12kzbvn40w88d_tf40000gn/T/ipykernel_906/2023466765.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low spender' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prods.loc[df_ords_prods['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [23]:
df_ords_prods.loc[df_ords_prods['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [24]:
df_ords_prods['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [25]:
# Create Column with days_since_prior_order Median by User Q7
df_ords_prods['median_buying_frequency'] = df_ords_prods.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/n3/lnt6wvj12kzbvn40w88d_tf40000gn/T/ipykernel_906/3556694156.py:2: FutureWarning: The provided callable <function median at 0x1121a8180> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods['median_buying_frequency'] = df_ords_prods.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [26]:
df_ords_prods.head(15)

,order_id,user_id,orders_#,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest day,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_buying_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Regular days,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Regular days,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0

In [27]:
df_ords_prods.loc[df_ords_prods['median_buying_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

/var/folders/n3/lnt6wvj12kzbvn40w88d_tf40000gn/T/ipykernel_906/1127427177.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Non-frequent customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_ords_prods.loc[df_ords_prods['median_buying_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [30]:
df_ords_prods.loc[(df_ords_prods['median_buying_frequency'] <= 20) & (df_ords_prods['median_buying_frequency'] > 10), 'order_frequency_flag'] = 'Regular customer'

In [31]:
df_ords_prods.loc[df_ords_prods['median_buying_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [32]:
df_ords_prods['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [33]:
# Export Data to pkl
df_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_flagged.pkl'))